<header>
    <nav>
        <ul class="nav nav-pills">
            <li routerLinkActive="active">
                <a class="nav-item" [routerLink]="['/signin']" *ngIf="!isAuthenticated()">Entrar</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-item" [routerLink]="['/signup']" *ngIf="!isAuthenticated()">Nova Conta</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-item" [routerLink]="['/notes']" *ngIf="isAuthenticated()">Notes</a>
            </li>
            <li>
                <a class="nav-item" style="cursor: pointer;" (click)="logout()" *ngIf="isAuthenticated()">Logout</a>
            </li>
        </ul>
    </nav>
</header>
