<div class="container">
    <h1>My Notes</h1>

    <form role="form" (submit)="salvar()">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="title">Título:</label>
                            <input type="text" class="form-control" [(ngModel)]="note.title" id="title" name="title"
                                   required>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <input type="text" class="form-control" [(ngModel)]="note.description" id="descricao"
                                   name="descricao" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer clearfix">
                <button type="button" class="btn btn-danger pull-right" *ngIf="note._id" (click)="excluir()">Excluir</button>
                <button type="submit" class="btn btn-primary pull-right">Salvar</button>
            </div>
        </div>
    </form>
</div>